html{
    background: #e8e8e8;
}
.body{
    margin-left: 10%;
    margin-right: 10%;
    
}

.index{
    background-color: #808080 ;
    border: black 1px solid;
    height: auto;
    display: flex;
    justify-content: center;
}

.articulo{
    background-color: #b4b4b4;
    border: black 1px solid;
    margin-top: 5px;
    padding: 1.1em;
    list-style: none;
    width: auto;
}

h1{
    text-align: center;
    margin-bottom:1.1em;
}

/*Menu*/
#menu{
    list-style: none;
    padding: 0%;
    background: #092327;
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

#menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

#menu li{
    display: inline-block;
    text-align: center;
}

#menu li a:hover{
    background: #ef8354;
}

/*Botó de afegir article*/

.boto{
    font-size: 15px;
    text-decoration: none;
    margin: 10px 0px;
    display: inline-block;
    background: #3BA7E1;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 5px 0px #1D64A6;
}

.boto:hover{
    box-shadow: 0px 2px 0px #1D64A6;
}

.boto:active{
    box-shadow: none;
}

/*Login*/

.login{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.login h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.login input[type = "text"],.login input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px #3498db solid;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.login input[type = "text"]:focus,.login input[type = "text"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.login input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px #2ecc71 solid;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.login input[type = "submit"]:hover{
    background: #2ecc71;
}
